/* backgrounColor=>#dfe6e9
themeColor=>#a29bfe */
body{
    background-color: #dfe6e9;
}
a{
    color:#000;
    transition: all 0.5s;
}
a:hover{
    color:#a29bfe;
    text-decoration: none;
   
}
.content{
    margin-top: 60px;
    margin-bottom: 160px;
}
.btn-theme{
    background-color: #a29bfe ;
    color:#fff;

}
.card{
    border-radius: 10px !important;
    box-shadow:  0 1px 3px 0px rgba(0,0,0,0.09);
}
/************************ header menu *************************/
.header-menu{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 100;
    padding: 8px;
}   
.header-menu h6{
    font-size: 16px;
}
/************************ home page *************************/
.home{
}
 .rounded-img{
    width: 60px;
    border-radius: 100%;
}
.home img{
    width: 30px;
    margin-right: 2px;
}
.home h5{
    font-size: 14px;
    margin:5px 0px 2px 0px;
}
.home .user_amount{
    font-size: 12px;
}
.home span{
    font-size: 12px;
}
.home .function-box span{
    font-size: 12px;
}
/************************ password update *************************/
.password-update img{
    width: 150px;
}
/************************ wallets *************************/
.wallets h6{
    font-size: 14px;
}
.wallets p{
    font-size: 12px;
}
/************************ transfers *************************/
.transfers p{
    font-size: 12px;
}
.search_user{
    font-size: 12px;
    color:green
}
.warning{
    color:red;
}
/************************ footer menu *************************/
.footer-menu{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
}
.footer-menu i{
    margin-top: 15px;
    
}
.footer-menu p{
    font-size: 12px;
    
}
.scan-tab{
    background-color: #ededf5;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 40px;
    right: 0px;
    left: 0px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    animation: glow 2s infinite;
}
.scan-tab .inside i{
    margin: 0px;
}
.scan-tab .inside{
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}